[2020-02-06 22:20] iaga commented on #166
## 1. Descripción del archivo de salida del modelo MEGADAPT
**Archivo:** stressing_scenarios_equidista.csv

Contiene la salida de la corrida del modelo MEGADAPT para el periodo 2020-2060 considerando el problema de escasez de agua bajo diferentes condiciones (Ver issue #165).

Se consideran:
- Tres clases de presupuesto (budget: Bajo, medio y alto)
- Dos formas de repartir el presupuesto (budget_s

[2020-02-06 22:35] iaga commented on #166
# Importante

- Es necesario tomar como condición inicial al año 2021 por la forma en que está implementado el código.
- Sincronizar únicamente la carpeta en la que se está trabajando para evitar problemas con Dropbox

[2020-02-06 23:07] iaga opened #167 "Generar gráficas para explorar las salidas en tableau para el simposium del 12-13 Marzo"
Generar las gráficas que representan la evolución en el tiempo para los diferentes escenarios

[2020-02-06 23:17] iaga commented on #167
# Generar gráficas que muestren la evolución en el tiempo de la vulnerabilidad y la exposición

## Actividades:

- [x] 1. Generar el banco de datos para agregar los campos a nivel ciudad de México
- [x] 2. Generar las gráficas correspondientes

## 1. Generar el banco de datos para agregar los campos a nivel ciudad de México

Archivo: ./tableau/stressing_scenarios.Rmd

Los bancos de datos  generado

[2020-02-06 23:27] aleestrada commented on #166
## Clasificación de los datos, incluyendo las características socio-económicas de la población

En la carpeta de insumos se colocaron las bases de datos con las variables socioeconómicas que se han utilizado en las presentaciones anteriores:

Las variables utilizadas han sido:

Variable| Nombre de la variable| Nombre de archivo|Ubicación
---|---|---|---|
Población|pop_tot_10|bd_socioeconomico_10.c

[2020-02-07 17:37] #162 closed, assigned to serranoycandela, aleestrada, iaga

[2020-02-10 20:44] #159 closed, assigned to vichdzgeo

[2020-02-10 20:47] vichdzgeo opened #168 "Generar índice Lee Sallee"
##  Objetivo

Calcular el índice Lee Sallee

Insumos: stressing_scenarios_equidista.csv

[2020-02-10 20:47] vichdzgeo commented on #168
## Procedimiento

Comparar por forma en que se distribuye el presupuesto

- Action budget
- System budget

Para cada escenario utilizar **medio_base** como referencia para cada tipo de corte (equidistante, fp1.5, fp2.0), para cada categoría (1,2,3,4,5)

[2020-02-10 20:48] vichdzgeo commented on #168
## Resultados:
Ruta de salida:

- \SIG\desarrollo\sig_megadapt\procesamiento\stressing\indice_leesallee\equidistante
- \SIG\desarrollo\sig_megadapt\procesamiento\stressing\indice_leesallee\fp15
- \SIG\desarrollo\sig_megadapt\procesamiento\stressing\indice_leesallee\fp20

En cada carpeta existen 5 csv
index_lee_sallee_vulnerabilidad_cat_x.csv  donde x es el número de categoria, en ese archivo se in

[2020-02-10 22:59] aleestrada commented on #166
### 5. Realizar pruebas para analizar la diferencia entre los datos de salida

5.1 ANOVA

Se realizó el análisis ANOVA (análisis de varianza) para determinar si las medias de las distribuciones de los diferentes escenarios son iguales.

Se definieron como factores a cada uno de los diferentes escenarios propuestos:

- Base = A
- Abundancia = B
- Asentamientos = C
- Sequia = D
- Sin_extraccion = E

[2020-02-11 06:46] serranoycandela opened #169 "Generar mapas de vulnerabilidad para cada escenario"

[2020-02-11 07:21] serranoycandela opened #170 "Generar mapas de exposición a escasez para cada escenario"

[2020-02-11 07:21] serranoycandela commented on #169
*Insumos:* /sig_megadapt/procesamiento/stressing/tableau/banco_datos/bd_vuln_prom_cdmx.csv

*Productos:* workbook empaquetado de tableau CARPETAS_TRABAJO/fserrano/megadapt/stressing_model/stressing_scenarios.twbx
mapas exportados en imágenes individuales
CARPETAS_TRABAJO/fserrano/megadapt/stressing_model/vulnerabilidad_escasez

# Presupuesto alto
![system_sin_extraccion](https://user-images.github

[2020-02-11 07:26] serranoycandela commented on #170
*Insumos:* /sig_megadapt/procesamiento/stressing/tableau/banco_datos/bd_vuln_prom_cdmx.csv

*Productos:* workbook empaquetado de tableau CARPETAS_TRABAJO/fserrano/megadapt/stressing_model/stressing_scenarios.twbx
mapas exportados en imágenes individuales
CARPETAS_TRABAJO/fserrano/megadapt/stressing_model/exposicion_escasez

# Presupuesto alto
![system_sin_extraccion](https://user-images.githubuser

[2020-02-11 23:23] aleestrada commented on #165
## Modificación
## Nuevos escenarios
De acuerdo a los acuerdos de la reunión del 11/02/2020 se modificaron los siguientes escenarios:

|Escenario|Nombre en el código|Atributo|Fv_original|Fv_modificada
|---|---|---|---|---|
|**Suministro de agua mínimo:** Empeorar la presión hidráulica|reduc_cutza|Presión hidráulica|![imagen](https://user-images.githubusercontent.com/41757755/73212422-d6136200-4113

[2020-02-12 16:22] aleestrada opened #171 "Realizar pruebas para analizar la diferencia entre los datos de salida (ANOVA)"
Análisis de ANOVA para escasez

### Carpeta de trabajo:

\SIG\desarrollo\sig_megadapt\procesamiento\stressing\anova

### Producto

/SIG/desarrollo/sig_megadapt/procesamiento/stressing/anova/anova_megadapt.html

ANOVA

Se realizó el análisis ANOVA (análisis de varianza) para determinar si las medias de las distribuciones de los diferentes escenarios son iguales.

Se definieron como factores a cada

[2020-02-12 19:05] aleestrada commented on #165
@serranoycandela ya en el comentario de arriba se definieron los escenarios que se deben correr. En general el único escenario que se modifica es el de asentamientos irregulares ya que sólo nos quedamos con el decremento en las viviendas sin conexión a la red.
En el comentario de arriba también colocamos en cursivas el nombre que proponemos para las corridas, v.g. para el suministro de agua máximi

[2020-02-14 19:09] iaga commented on #166
# 2. Nuevo banco de datos
Archivo: \SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\ss_equidista.csv
Archivo: \SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\ss_fp15.csv
Archivo: \SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\ss_fp20.csv

Objetivos:

- [x] 1. Procesar el nuevo banco de datos
- [x] 2. Realizar el procedimiento para analizar los resultados de M

[2020-02-14 22:19] iaga commented on #166
## 2. Realizar el procedimiento para analizar los resultados de MEGADAPT con el nuevo banco de datos.

Listas las bases de datos con los nuevos datos (ver comentario de arriba). Contienen la salida de MEGADAPT con el siguiente formato:

- Equidista. Los datos sin normalizar, con cortes equidistantes (es necesario voltear la exposición)
- ss_fp15. Los datos normalizados, cortes de wf con factor de

[2020-02-17 21:09] aleestrada commented on #171
### ANOVA con nuevo banco de datos escasez

### Producto:

SIG/desarrollo/sig_megadapt/procesamiento/stressing/anova/anova_megadapt_v2.html

Se realizó el análisis del los resultados del modelo con el nuevo banco de datos:

Se tomaron en cuenta seis bloques, en los que se combina las categorías de los factores secundarios "budget" y "budget_split":

- Presupuesto bajo y budget_split: "action_budge

[2020-02-17 23:50] serranoycandela commented on #170
# Los facet plots para los escenarios definidos en el issue #165

## Con categorías equidistantes:

![vulnerabilidad_escasez](https://user-images.githubusercontent.com/12860576/74692576-802f5880-51ad-11ea-8511-456464dc1777.png)
![exposicion_escasez](https://user-images.githubusercontent.com/12860576/74692580-86bdd000-51ad-11ea-88f3-8e4f3a1d4b35.png)

## Con categorías wf y factor de progresión 2:

[2020-02-18 18:26] yosunemiquela commented on #166
Se realizaron los procedimientos analíticos (análisis divisivo jeràrquico y árbol de regresión)l aplicaos a base de datos (Equidista). Las gráficas y el archivo Rmd se integraron a las carpetas indicadas.

[2020-02-25 23:25] aleestrada commented on #166
## 3. Nuevos acuerdos para el análisis de las salidas del modelo de MEGADAPT

###  Reunión con Luis 25/02/2020
En la reunión con Luis se llegaron a los siguientes acuerdos:

De los datos de los escenarios:

1. Obtener el índice de Lee-Salee para todos los escenarios y cortes (entre escenarios para el mismo nivel de corte y entre cortes para los mismos escenarios). @vichdzgeo
   1.1 Considerar cort

[2020-02-26 23:45] aleestrada opened #172 "Generar bases de datos de consumo de agua normalizado"
Generar bases de datos de consumo de agua potable per cápita para la CDMX normalizado, llevado a ideales.
Estos datos servirán como insumo para el índice kappa.

### Insumos:
Bases de datos de consumo de agua bimestral proporcionados por Sarah, y que fueron preprocesadas por Fidel, los insumo se colocaron en la siguiente carpeta:
 SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\por_age

[2020-02-26 23:52] aleestrada commented on #172
### Reunión y RESULTADOS

De acuerdo a la reunión del día 26/02/2020 con Luis, se llegó al acuerdo de que se considerarían para este analisis sólo los datos del consumo per cápita por arriba del primer cuartil y por debajo del tercer cuartil. Esto con el objetivo de evitar sesgos en el análisis derivados de agebs con poca población y alto consumo de ague (agebs con gran carga comercial).

#### Pro

[2020-02-28 19:12] iaga commented on #168
## Procedimiento de comparaciones

1.- Se obtiene el índice de Lee Sallee para cada presupuesto (bajo, medio, alto), para cada escenario (asentamientos, base, increm_cutza, mejora_efi, reduc_agua, reduc_cutza), para cada categoría
**Objetivo.** Queremos saber si existe una diferencia para el presupuesto bajo, el modelo produce patrones espaciales en cómo se distribuye el presupuesto o no

[2020-03-02 03:55] vichdzgeo opened #173 "Generar script que cuente el número de agebs por categoría por delegación"
El script debe generar la salida con los siguientes campos contener en los campos

alcaldia | cat_1 | cat_2 | cat_3 | cat__4 | cat_5 | m_vul_c1 | m_vul_c2 | m_vul_c3 | m_vul_c4 | m_vul_c5 | m_exp_c1 | m_exp_c2 | m_exp_c3 | m_exp_c4 | m_exp_c5
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

donde:
 - alcaldia: es el identificador de alcaldía ya sea nombre o id
- cat_x

[2020-03-02 03:59] vichdzgeo commented on #173
## procedimiento

- Generar de nuevo los shapefile uniéndolos con el insumo ageb_alc_cdmx.shp para este paso se ocupo el script extraccion_datos.py

Se renombran los siguientes campos por la limitante de 10 caracteres  en archivos shp

`datos2.rename(columns={'cat_scarcity_vulnerability':'cat_vul'}, inplace=True)
datos2.rename(columns={'cat_scarcity_exposure':'cat_exp'}, inplace=True)
datos2.renam

[2020-03-02 19:54] iaga opened #174 "Realizar min-max utilizando la teoría del mínimo arrepentimiento"
## Procesamiento:

### Carpeta de trabajo:
- \SIG\desarrollo\sig_megadapt\procesamiento\stressing\

### Insumos:

Variable| Nombre de la variable| Nombre de archivo|Ubicación
---|---|---|---|
Población|pop_tot_10|bd_socioeconomico_10.csv|SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\censo_10
Unidades económicas| denue|denue_ageb_09.shp|SIG\desarrollo\sig_megadapt\procesamiento\stress

[2020-03-02 21:00] vichdzgeo commented on #168
## Procedimiento 2

Se solicito comparar todos los escenarios contra todos (vulnerabilidad), para cada corte (equidistante, fp1.5 fp2.0) para cada categoria (1,2,3,4,5) y que la salida fuera en forma de matriz

tambien se solicito comparar todos los escenarios contra todos (vulnerabilidad), vs cada corte, para cada categoria (1,2,3,4,5)

- Equidistante vs fp1.5
- Equidistante vs fp2.0

Resultados

[2020-03-02 21:04] vichdzgeo commented on #168
procedimiento 3

En la reunión se trabajo en una representación que describe la siguiente tabla, este hoja pertenece al archivo compracion_budget.xlsx la pestaña fp15_comparacion_reunion

presupuesto | budget_split | asentamientos | base | increm_cutza | mejora_efi | reduc_agua | reduc_cutza
-- | -- | -- | -- | -- | -- | -- | --
action/system | bajo-bajo_cat_1 | 100% | 100% | 100% | 100% | * | 100

[2020-03-02 21:08] vichdzgeo commented on #168
# procedimiento 4

Se solicito comparar los escenarios entre ellos por la forma en que se  distribuye el presupuesto y los diferentes presupuestos calculando el grado de comparación entre ellos, el grado se calcula entre la suma de coincidencias de agebs en categorias, entre el total de agebs

se anexa salida de ejemplo:

presupuesto | escenario | asentamientos | base | increm_cutza | mejora_efi |

[2020-03-02 22:12] iaga commented on #166
# 4. Realizar análisis con los datos de inundaciones

Con el objetivo de realizar los análisis acordados (ver comentarios de arriba) con los datos de inundaciones, se incluyó el archivo **cc_extreme.csv** que contiene las salidas del modelo MEGADAPT (para la corrida utilizada en la presentación de Noviembre) con los datos de inundaciones.

[2020-03-03 15:59] aleestrada opened #175 "Asignar col id a la base de datos de reportes de falta de agua"
Procesar la base de datos de reportes de faltas de agua proporcionada por el SAC, para obtener los reportes a nivel colonia, mediante el código de asignación del col_id.

### Carpeta de trabajo

### Insumos
Base de datos:
\CARPETAS_TRABAJO\aestrada\datos_sacmex_falta_agua

Código:
\CARPETAS_TRABAJO\jmendoza\entregables\asignacion_col_id
También se puede encontrar información sobre el procedimiento

[2020-03-03 17:14] iaga commented on #167
# Gráficas de salida que muestran la evolución en el tiempo de la vulnerabilidad y la exposición para los datos de inundaciones

## Actividades:

- [x] 1. Generar el banco de datos para agregar los campos a nivel ciudad de México
- [x] 2. Generar las gráficas correspondientes

## 1. Generar el banco de datos para agregar los campos a nivel ciudad de México

Archivo: ./tableau/cc_extreme_inunda.Rmd

[2020-03-03 18:01] iaga commented on #174
## Datos de Escasez
- Para el último año de simulación (2060)
- Para los 36 escenarios considerados

[2020-03-03 18:50] iaga commented on #166
# 5. Nuevos bancos de datos para inundaciones

## Promedio para toda la ciudad (tiempo y agebs)

Ruta: fserrano/megadapt/eventos_extremos/cc_extreme_flooding_count.csv
Query: query_cc_extreme_flooding_count.R

- Los que tienen runoff_presence =1 y los que tienen resident_report_flooding_count_mean > 0 (reportes de encharcamiento)
- Promedio para todas las agebs, para todo el tiempo

[2020-03-03 19:45] aleestrada commented on #166
# 6. Nuevo banco de datos inundaciones no agregado

Ruta: \CARPETAS_TRABAJO\fserrano\megadapt\eventos_extremos\cc_extreme_flooding_count_non_aggregated.csv

Se colocó la nueva base de datos en la carpeta:
 stressing/insumos/inundaciones

### Descripción:
La base de datos es la misma que la de **cc_extreme_flooding_count**, pero sin realizar la agregación para todas la agebs y todos los años.
Es de

[2020-03-03 19:57] iaga commented on #167
# Salidas con el nuevo banco de datos (Inundaciones, datos normalizados con min-max)

**Archivo:** ./tableau/stressing_cdmx_time_flooding_v2.twb

**Insumos:** ./banco_datos/bd_vuln_prom_cdmx_flood_v2.csv

El archivo con el que se generó el banco de datos: cc_extreme_flooding_count_cdmx.Rmd

![imagen](https://user-images.githubusercontent.com/41757755/75814108-c8767b00-5d56-11ea-9315-a766a4904bb7.p

[2020-03-03 20:58] iaga commented on #166
# Nuevas actividades:

- Mapas que muestren los distintos escenarios de crecimiento urbano, el efecto en la escorrentía de esos escenarios y los sitios de inundaciones
- Generar mapa que muestre cuáles son las agebs que se inundan sobre suelo de conservación
- Poner las características de la población afectada, características sociales y económicas por ageb
- Generar corrida con todos los agebs
-

[2020-03-03 21:17] iaga commented on #166
# Banco de datos de inundaciones con datos socio-económicos

El nuevo banco de datos: .tableau/banco_datos/bd_cc_extreme_flooding_ageb_socio.csv

- Se ubicó en la carpeta de insumos

[2020-03-03 23:53] iaga opened #176 "Crear parallel coordinates de escasez e inundaciones"
A partir de los banco de datos de escasez e inundaciones, generar parallel coordinates

### Carpeta de trabajo:

\SIG\desarrollo\sig_megadapt\procesamiento\stressing\parallel

[2020-03-03 23:55] iaga commented on #176
# Inundaciones

Se generaron dos bases de datos para inundaciones:
- Para las agebs vulnerables
- Para todas las categorías de vulnerabilidad

Insumos: ../insumos/inundaciones/cc_extreme_flooding_count_non_aggregated.csv
Script: cc_extreme_flooding_count_ageb_socio_parallel.Rmd

## Banco de datos para agebs vulnerables
**Producto:** /insumos/parallel_flooding_vuln.csv

climate__id | budget | budge

[2020-03-04 00:01] aleestrada commented on #171
## ANOVA para inundaciones

### Insumos:

../insumos/inundaciones/cc_extreme_flooding_count_non_aggregated.csv

### Producto:

SIG/desarrollo/sig_megadapt/procesamiento/stressing/anova/anova_megadapt_inundaciones.html

Se realizó el análisis del los resultados del modelo con el nuevo banco de datos:

Se tomaron en cuenta seis bloques, en los que se combina las categorías de los factores secundario

[2020-03-04 00:04] aleestrada commented on #176
## Escasez

Se generó base de datos para el parallel coordinates de escasez:

#### Banco de datos

**SIG/desarrollo/sig_megadapt/procesamiento/stressing/insumos/parallel_cat_cdmx_2060_escasez.csv**

budget | budget_split | stress | Vuln_cat | Exp_n | Vuln_n | Poblacion_n | UE_n | Ingreso_n | Poblacion | UE | Ingreso | id_vuln
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --

El banco

[2020-03-04 22:47] #100 closed

[2020-03-04 23:21] iaga commented on #167
# Revisión de la salida de inundaciones

Se observa en las imágenes que existe discrepancia entre la exposición y la vulnerabilidad. Se procedió a la revisión de la definición de la función de valor y de la variable asociada con la exposición (flooding_count). A partir de las figuras obtenidas se determinó cambiar el centro de la función de valor de inundaciones y generar nuevas corridas.

[2020-03-04 23:22] iaga opened #177 "Revisar índice de escasez implementado en el modelo MEGADAPT"
Dados los patrones de salida observados en el modelo, se revisará si existe diferencia entre la implementación y el diseño del índice de escasez.
Nota: se documentará únicamente a las capas en las que se encuentra diferencia.

Capas revisadas:
- [x] Presión hidráulica
- [x] Cisternas

[2020-03-04 23:26] iaga commented on #177
## Capa de cisternas

La capa de cisternas no coincide con la utilizada en el diseño del modelo. No corresponde ni a la capa de cisternas por ageb, ni a la de delegaciones.

## Geopackage: household_water_storage_tank_percent

![imagen](https://user-images.githubusercontent.com/41757755/75932409-f209d200-5e3c-11ea-9d94-c5db69a321b8.png)

## Capa utilizada en el diseño: SIG\desarrollo\sig_megadapt\

[2020-03-05 15:28] iaga commented on #177
@vichdzgeo nos puedes ayudar a cambiar la capa de cisternas que se encuentra en el geopackage versión 9, variable: household_water_storage_tank_percent por la capa que se ubica en la ruta: SIG\desarrollo\sig_megadapt\procesamiento\indice_escasez\insumos\cisternas\prop_cisternas_viv.shp

[2020-03-05 16:00] vichdzgeo commented on #177
@iaga de acuerdo, solo que la última versión del geopackage es la 10, deseas que se actualice en la 9?

[2020-03-05 16:02] iaga commented on #177
@vichdzgeo, @serranoycandela dijo que está usando la 9 en el código... tendremos una reunión en unos minutos

[2020-03-05 17:09] vichdzgeo commented on #177
@iaga @serranoycandela

los geopackages han sido actualizados!

megadapt_wgs84_v8.gpkg -> megadapt_wgs84_v11.gpkg
megadapt_wgs84_v9.gpkg -> megadapt_wgs84_v12.gpkg
megadapt_wgs84_v10.gpkg -> megadapt_wgs84_v13.gpkg

donde la variable del geopackage  **household_water_storage_tank_percent**
ha sido actualizada con los valores del campo **prp_cs_** de la capa que se ubica en la ruta: SIG\desarrollo\

[2020-03-05 17:11] vichdzgeo commented on #53
## Actualización de capas 5  de marzo

los geopackages han sido actualizados!

megadapt_wgs84_v8.gpkg -> megadapt_wgs84_v11.gpkg
megadapt_wgs84_v9.gpkg -> megadapt_wgs84_v12.gpkg
megadapt_wgs84_v10.gpkg -> megadapt_wgs84_v13.gpkg

donde la variable del geopackage household_water_storage_tank_percent
ha sido actualizada con los valores del campo prp_cs_ de la capa que se ubica en la ruta: SIG\desar

[2020-03-05 18:05] iaga commented on #177
# Comparación de la salida con diferentes categorías (escenario base)

Objetivo: Identificar las diferencias entre los mapas con el escenario base que se generaron anteriormente (otras presentaciones) y las nuevas corridas.

Considerando el escenario base y los distintos cortes:

- Equidistante
- wf_15
- wf_20

## Condición inicial

Equi: 0-1|wf_15: 0-1|wf_20: .2-.9
--|--|--
![imagen](https://user

[2020-03-05 19:41] serranoycandela opened #178 "Generar base de datos de los escenarios de estresamiento del modelo en combinación con los escenarios de cambio climático y crecimiento urbano"

[2020-03-05 19:48] serranoycandela commented on #178
En estos experimentos se normalizaron las distancias al punto ideal y se corrieron todas las combinaciones de los escenarios de cambio climático y crecimiento urbano contra los escenarios de estrés del modelo (funciones de valor)

@vichdzgeo @yosunemiquela @aleestrada @iaga

el script que hace el query está en:
dropbox/SIG/desarrollo/sig_megadapt/procesamiento/stressing/querys/query_stressing_n_cs

[2020-03-05 19:53] vichdzgeo commented on #178
## datos de máximo y mínimo
| variable | maximo | minimo |
| ---------|-----------|----------|
escasez exp| 0.9981673262179149| 0.053383588707972995|
escasez vul |1.0 |  0.00396052414414327|
inundaciones exp |0.9995998750054219 | 0.307358016865264|
inundaciones vul| 1.0| 0.311494870244562|

[2020-03-05 21:13] iaga commented on #166
# 7. Nuevo banco de datos:

## Generar base de datos de los escenarios de estresamiento del modelo en combinación con los escenarios de cambio climático y crecimiento urbano

Ver issue: https://github.com/sostenibilidad-unam/SHV/issues/178

[2020-03-05 22:02] iaga commented on #167
# Nuevo banco de datos:

## Generar base de datos de los escenarios de estresamiento del modelo en combinación con los escenarios de cambio climático y crecimiento urbano (issue https://github.com/sostenibilidad-unam/SHV/issues/178)

## Actividades:

- [x] 1. Generar el banco de datos para agregar los campos a nivel ciudad de México
- [x] 2. Generar las gráficas correspondientes

## 1. Generar el

[2020-03-06 17:15] vichdzgeo commented on #178
listas las bases de datos:

- ss_n_cs.csv -> base salida del modelo

- ss_n_cs_n.csv -> base con exposición y sensibilidad para escasez e inundaciones normalizado `x -xmin/xmax -xmin`

- ss_n_cs_n_fp15.csv -> a partir de la base de datos normalizada se categorizan con factor progresión 1.5 wf para exposición y sensibilidad para escasez e inundaciones

- ss_n_cs_n_fp20.csv -> a partir de la base de

[2020-03-06 19:24] vichdzgeo opened #179 "Generar banco de datos de escorrentias, inundaciones en cruce con datos sociales"
Inusmos:

|insumo| Descripción|
|--------|--------------|
df_prec_precvolm3_escorrentias_excl_0_ff45.csv| Escorrentia y precipitación del escenario 4.5 far future con crecimiento urbano sin restricciones|
|denue_ageb_09.shp| unidades Económicas por AGEB|
|bd_socioeconomico_10.csv | Datos de población por ageb|
|asset_index.csv | Índice de pobreza|
|CHA_cg.shp | Cuencas urbanas|
|cuenc

[2020-03-06 20:19] iaga opened #180 "Generar nuevas matrices para el doble acoplamiento: optimización"
**Objetivo:** Responder a la pregunta, ¿Cuál es el cambio mínimo que tiene que haber para que una acción sea más alta que la otra?

## Drivers físicos

-|Escurrimientos|Hundimientos|Precipitación
--|--|--|--
Ench.|0.75|0.90|0.17
Inud.|0.25|0.10|0.83

*"Escorrentía es la causa del 75% de casos de encharcamientos y 25% de casos de inundaciones"*
*"La precipitación es la causa del 17% de encharcamien

[2020-03-06 20:27] iaga commented on #180
Ruta:

\SIG\desarrollo\sig_megadapt\procesamiento\stressing\doble_acoplamiento\supermatrices

Documentos:

- Supermatriz drenaje. Luis.
- potable_water_sacmex_unweighted_stage1. matriz del modelo.
- potable_water_sacmex_unweighted_stage1_optimizacion

[2020-03-06 20:56] aleestrada commented on #176
## Nueva base de datos escasez

Utilizando los datos de la última corrida (05/03/2020) se generó una nueva base de datos para construir el parallel coordinates de escasez.

### Insumos
Categorías de escasez con WF de 1.5
SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\csv_querys\ss_n_cs_n_fp20.csv
Datos de escasez y vulnerabilidad a nivel AGEB
SIG\desarrollo\sig_megadapt\procesamiento\

[2020-03-06 23:30] iaga commented on #167
# Versión editada de las gráficas

![imagen](https://user-images.githubusercontent.com/41757755/76130206-9cb1fa00-5fcf-11ea-97ea-14776421956f.png)

![imagen](https://user-images.githubusercontent.com/41757755/76130209-a20f4480-5fcf-11ea-86d1-0f6d98039bd5.png)

![imagen](https://user-images.githubusercontent.com/41757755/76130306-f3b7cf00-5fcf-11ea-96b2-6021ffd030df.png)

![imagen](https://user-ima

[2020-03-06 23:41] #151 closed, assigned to serranoycandela, aleestrada, yosunemiquela, vichdzgeo, iaga

[2020-03-06 23:41] #155 closed, assigned to aleestrada, iaga

[2020-03-06 23:41] #150 closed, assigned to aleestrada, iaga

[2020-03-09 20:09] aaron-ts commented on #175
1. Se cambió la función de coeficiente de similitud por distancia de similitud, ya que la función anterior ya no cuenta con soporte, se sigue usando la distancia Levenshtein a través de la función adist(), la cual arroja valores enteros, donde los números menores reflejan que las cadenas son más parecidas.

2. Se actualizó el diccionario en el código filtro_python para faltas de ortografía o varia

[2020-03-09 22:11] milocortes opened #181 "Generar Facet Plot de datos de escasez e inundaciones"
### Facet Plot de datos de escasez e inundaciones

Se generaron Facet Plots para escasez e inundaciones. El script se encuentra en : CARPETAS_TRABAJO/hcortes/facet_plots
#### Exposición escasez
![exposicion_escasez](https://user-images.githubusercontent.com/20075516/76261760-ff6af600-625a-11ea-8f53-f28e4cc15bcd.png)

#### Exposición inundaciones
![exposiciones_inundaciones](https://user-images.git

[2020-03-10 16:22] vichdzgeo commented on #178
## Actualización de base de datos

Ruta: SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\csv_querys

ss_n_cs.csv -> base salida del modelo

ss_n_cs_n.csv -> base con exposición y sensibilidad para escasez e inundaciones normalizado x -xmin/xmax -xmin

ss_n_cs_n_fp15.csv -> a partir de la base de datos normalizada se categorizan con factor progresión 1.5 wf para exposición y sensibilida

[2020-03-10 18:08] iaga commented on #167
# Salidas con el nuevo banco de datos: https://github.com/sostenibilidad-unam/SHV/issues/178#issuecomment-597178767

## Actividades:

- [x] 1. Generar el banco de datos para agregar los campos a nivel ciudad de México
- [x] 2. Generar las gráficas correspondientes

## 1. Generar el banco de datos para agregar los campos a nivel ciudad de México
Nota: Se generó un script en R que se corrió en la te

[2020-03-10 18:20] iaga commented on #166
# 8. Nuevo banco de datos:

## Generar base de datos de los escenarios de estresamiento del modelo en combinación con los escenarios de cambio climático y crecimiento urbano

Ver issue: https://github.com/sostenibilidad-unam/SHV/issues/178#issuecomment-597178767

[2020-03-10 19:40] iaga commented on #174
# Nuevo banco de datos

https://github.com/sostenibilidad-unam/SHV/issues/178#issuecomment-595870303

[2020-03-10 20:18] vichdzgeo commented on #178
# Actualización de base de datos

Lista la base de datos de escasez  para el año 2060
ss_n_cs_n_scarcity_2060.csv -> solo se extraen los datos para el año 2060 de la base ss_n_cs_n.csv

@iaga @aaron-ts @aleestrada

[2020-03-10 20:21] iaga opened #182 "Generar representaciones a nivel Alcaldía para el simposium del 12-13 Marzo"

[2020-03-10 20:23] aleestrada commented on #176
## Nueva base de datos escasez

Utilizando los datos de la última corrida (09/03/2020) se generó una nueva base de datos para construir el parallel coordinates de escasez.

### Insumos
Categorías de escasez con WF de 1.5
SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\csv_querys\ss_n_cs_n_fp15_scarcity.csv

### Producto
SIG/desarrollo/sig_megadapt/procesamiento/stressing/insumos/parall

[2020-03-11 16:17] aleestrada commented on #176
## Nueva base de datos escasez

Utilizando los datos de la última corrida (09/03/2020) se generó una nueva base de datos para construir el parallel coordinates de escasez.

### Insumos
Categorías de escasez con WF de 1.5
SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\csv_querys\ss_n_cs_n_fp15_scarcity.csv

### Producto
SIG/desarrollo/sig_megadapt/procesamiento/stressing/insumos/parall

[2020-03-11 16:34] iaga commented on #167
# Nuevas modificaciones

En la reunión del 10/03/2020 Luis solicitó para las gráficas en el tiempo:

- [x] Quitar escenarios de CC
- [x] Renombrar los escenarios de stressing: base por tendencial, reducción de agua por decremento de las fuentes de agua.
- [x] Eliminar los escenarios asociados al Cutzamala
- [x] Ordenar los escenarios de stressing: 1. Tendencial, 2. Decremento de las fuentes de agu

[2020-03-11 16:57] vichdzgeo commented on #178
## Actualización de base de datos

Se generó un nuevo banco de datos que contiene los valores normalizados y las categorias, filtrado solo para el año 2060

ss_n_cs_n_scarcity_fp15_2060.csv -> solo se extraen los datos para el año 2060 de la base ss_n_cs_n.csv incluye categorias
@aleestrada  @aaron-ts @iaga

[2020-03-11 18:02] milocortes opened #183 "Generar Facet Plot de datos de escasez (Normalizado y categorizado)"
## Facet Plot de datos de escasez (normalizado y categorizado)

Se generaron Facet Plots para escasez. El script se encuentra en : CARPETAS_TRABAJO/hcortes/facet_plots/plot_model_runs_stress_climate_id_11032020.R

### Stress
#### Exposición escasez (Normalizado)
![exposicion_escasez_norm_stress](https://user-images.githubusercontent.com/20075516/76448064-082e0a00-63ca-11ea-8011-33290f61af6e.png)
#

[2020-03-11 19:04] aleestrada commented on #165
Se realizó un documento con los URL's del magrat de cada uno de los cambios en las funciones de valor para cada uno de los escenarios en:

\SIG\desarrollo\sig_megadapt\procesamiento\stressing\magrat\url_escenarios.txt

@iaga @vichdzgeo @serranoycandela

[2020-03-11 19:07] vichdzgeo opened #184 "Generar mapa de crecimiento urbano para la ciudad de México con mapa base"
- tendencial bau

[2020-03-11 20:43] aaron-ts commented on #178
Los gráficos se pueden encontrar en SIG\desarrollo\sig_megadapt\procesamiento\stressing\boxplots

[2020-03-11 21:08] vichdzgeo commented on #178
# Actualización de base de datos

ss_n_cs_n_scarcity_fp15_2021.csv solo se extraen los datos para el año 2021 de la base ss_n_cs_n.csv incluye categorias

@aleestrada

[2020-03-11 21:46] aleestrada commented on #176
## Nueva base de datos escasez

Utilizando los datos de la última corrida (09/03/2020) se generó una nueva base de datos para construir el parallel coordinates de escasez a nivel AGEB.

### Insumos
Categorías de escasez con WF de 1.5
SIG\desarrollo\sig_megadapt\procesamiento\stressing\insumos\csv_querys\ss_n_cs_n_fp15_scarcity.csv

### Producto
SIG/desarrollo/sig_megadapt/procesamiento/stressing/i

[2020-03-11 22:25] iaga commented on #167
# Imagen para la presentación política

![dinamicas_adaptativas_escenario](https://user-images.githubusercontent.com/41757755/76469916-ef672980-63b4-11ea-8739-4d61d201fc01.png)

[2020-03-11 22:55] iaga commented on #167
# Workbook con las gráficas en el tiempo para exposición y vulnerabilidad

\SIG\desarrollo\sig_megadapt\procesamiento\stressing\tableau\workbooks\ss_n_cs_cdmx_final.twb

[2020-03-12 00:43] milocortes commented on #176
Utilizando los datos de escasez, se generaron un script de R en el que se construye un Parallel Coordinates Plot y un hmtl de éste.

Los archivos se encuentran en la siguiente carpeta:
\SIG\desarrollo\sig_megadapt\procesamiento\stressing\parallel

Archivos:
* <tt>ind_vul_parcoords.R</tt>
* <tt> ind_vul_par_coord.html</tt>

[2020-03-12 00:43] vichdzgeo commented on #176
## Parallel coordinates a nivel AGEB por escenario
### Relacionado con issue #182
### Escenario mejor: Mejora de la eficiencia con presupuesto alto

Se generó una base de datos, normalizados de forma lineal (entre 0 y 1), a nivel AGEB para el escenario mejora_efi, con presupuesto alto (2000).
Base:

Se generó el parallel coordinates:

http://pc.magrat.mine.nu/parallel_coordinates_maps/96e00adf2224

[2020-03-12 01:11] vichdzgeo commented on #176
## Inundaciones

Inicial
poblacion 768,148
denue 44,705

mejor
población 621,522
denue 30132

Peor

poblacion 1,476,820
denue 98,214

[2020-03-17 16:14] serranoycandela opened #185 "Verificar todas las entradas de datos al modelo megadaptr"
# Verificar cada una de las entradas y su linaje

## Primer nivel

Las entradas al modelo están en la carpeta  **/src/r/megadaptr/inst/rawdata/** de repositorio megadaptr. Estas entradas se dividen en:

**- /censusblocks/**
Esta carpeta contiene el geopackage con las capas que representan los criterios de los agebs para las supermatrices de saxmex y de los residentes y algunos datos adicionales la

[2020-03-17 17:36] aleestrada commented on #182
Se generaron parallel coordinates relacionados con el mejor y el peor  de los escenarios genreados, "Mejora de la eficiencia con presupuesto alto" y "Reducción de las fuentes de agua con presupuesto bajo".

Issue #176

[2020-03-17 18:59] aleestrada commented on #171
### ANOVA para banco de datos del 09 de marzo de 2020 (Banco de datos final)

Se intentó realizar el análisis de diferencia de medias entre cada uno de los escenarios y los bloques planteados anteriormente:

Se tomaron en cuenta seis bloques, en los que se combina las categorías de los factores secundarios "budget" y "budget_split":

- Presupuesto bajo y budget_split: "action_budget" = 1
- Presupu

[2020-03-18 16:57] #142 closed, assigned to aleestrada, iaga

[2020-03-18 17:24] #157 closed, assigned to aleestrada, iaga

[2020-03-23 17:26] iaga commented on #175
@aaron-ts Favor de colocar las imágenes de los mapas obtenidos y de especificar en este issue qué distancias se utilizaron al final para la selección. Además de documentar todo el proceso (describir cuáles son las nuevas versiones de los archivos, los archivos de salida, especificar las modificaciones al código, etc.)

[2020-03-23 18:47] iaga commented on #165
@serranoycandela se generó la tabla https://github.com/sostenibilidad-unam/SHV/issues/165#issuecomment-584910046 que resume los escenarios y los asocia con sus respectivas fv. Puede servir de insumo para el wiki.

[2020-03-23 22:25] aaron-ts commented on #175
El mapa resultante es el siguiente:
![ma_reporte_dias_sin_agua_ageb_2018](https://user-images.githubusercontent.com/61706638/77367286-77d3bb80-6d1f-11ea-9bd7-d4afec9f1788.png)

Se mantuvo la distancia de Levenshtein. La documentación del proceso está en el archivo __doc_reporte_días_sin_agua_ageb_2018.Rmd__ con salida html __doc_reporte_días_sin_agua_ageb_2018.html__ en la carpeta __CARPETAS_TRABA

[2020-03-25 20:25] aleestrada opened #186 "Establecer los axiomas, teoremas y suposiciones de MEGADAPT"
Establecer cuales son los axionamos, teoremas y suposiciones bajo los cuales se generó el modelo MEGADAPT.

## Axiomas

1. La vulnerabilidad se manifiesta a escala de AGEB.
2. El cambio de la vulnerabilidad depende de decisiones del comportamiento de los autómatas geográficos representados en el modelo.
3. Las intervenciones de SACMEX modifican la exposición al riesgo de los otros autómatas geográ

[2020-03-26 09:57] aaron-ts commented on #175
## Generales

Los scripts utilizados siguen los pasos del código `faltas_dias_2017_v3.Rmd` que se encuentra en:  `CARPETAS_TRABAJO/amedina/dias_sagua_reportes` y los adapta para procesar los datos en `FALTAS DE AGUA POTABLE 2010-2019.xlsx` del año 2014 al 2018.

Los scripts y archivos finales para este proceso se pueden encontrar en `CARPETAS_TRABAJO/atorrijos/asignacion_col_id`, los cuales son:

[2020-03-30 16:52] iaga opened #187 "Realizar validación del índice de escasez siguiendo el procedimiento realizado en SESMO"
## Procedimiento:
- [x] Revisar el procedimiento utilizado en sesmo
- [x] Generar los insumos correspondientes para utilizar kappa
- [ ] Generar los insumos correspondientes para hacer el análisis de confiabilidad
- [x] Correr el algoritmo para calcular kappa
- [ ] Generar el script para el análisis de confiabilidad

## Carpeta de trabajo

\SIG\desarrollo\sig_megadapt\procesamiento\indice_escasez\

[2020-03-30 18:12] serranoycandela opened #188 "Traducir todas las funciones de valor en el código a archivos json"

[2020-03-30 18:14] serranoycandela opened #189 "Editar el código de geo-value-function para permitir al usuario escoger el campo al que se le aplicará una función de valor"

[2020-03-30 18:17] serranoycandela commented on #189
La idea es que con un solo shapefile o geopackage que contenga todas las capas de entrada se puedan generar todas las funciones de valor, sin tener que hacer un shapefile por separado para cada capa. De este modo la generación de funciones de valor se podrá agregar al manual de uso de megadaptr. Además esto permite tener un mejor orden pues no hace falta crear nuevos nombres para las capas y los c

[2020-03-30 18:21] serranoycandela commented on #189
la funcionalidad está lista y commiteada en el repositorio
https://github.com/sostenibilidad-unam/geo-value-function

![Screen Shot 2020-03-30 at 12 18 15](https://user-images.githubusercontent.com/12860576/77947077-963a3980-7280-11ea-8066-7374dfe460a6.png)

para que esté disponible en linea desde magrat se requiere que Rodrigo haga el pull en magrat
@iaga @aleestrada

[2020-03-30 18:34] serranoycandela commented on #189
ahora cuando guardas el json desde la aplicación web, se guarda la capa, el campo y los parametros propios de la función de valor. Y el nombre del archivo json es "capa"__"campo".json

por ejemplo:
megadapt_wgs84_v16__resident_reports_flooding_per_year.json

<img width="605" alt="Screen Shot 2020-03-30 at 12 34 26" src="https://user-images.githubusercontent.com/12860576/77948550-d4d0f380-7282-11ea

[2020-03-30 19:00] serranoycandela commented on #185
Se está trabajando en un wiki para megadaptr que contiene las entradas, las salidas y los procedimientos

https://vichdzgeo.github.io/doc_megadapt/

En la parte de funciones de valor una primer lista se ve así:

![Screen Shot 2020-03-30 at 13 00 00](https://user-images.githubusercontent.com/12860576/77950857-69892080-7286-11ea-8282-2d7c163d88e8.png)

Después de este primer ejercicio se decidió en

[2020-04-01 22:25] iaga commented on #187
# Procedimiento utilizado en sesmo

## 1.- Se realizaron dos grupos: los de baja y alta vulnerabilidad.

- Normalización de los datos
- Se graficó la función de distribución acumulada para encontrar el punto donde inicia la tendencia asintótica (valor de corte para las dos clases de vulnerabilidad: baja y alta), para el caso de sesmo 0.125.
- Se obtiene el número de agebs que están dentro de cada

[2020-04-01 23:58] iaga commented on #187
En la reunión con @aleestrada se comentó que no existe como tal un dato con el cual validar el índice de escasez, se consideran dos posibilidades:

a) Usar los datos de consumo de agua como inverso de escasez
b) Investigar un método para validar índices

## a) Exploración de los datos de consumo de agua y vulnerabilidad
 Objetivo: Explorar de forma simple (visualmente) si existe la posibilidad de

[2020-04-02 20:09] iaga commented on #183
@milocortes algunas dudas:

1.- ¿Para qué año son estas gráficas? para el final?
2.- ¿Cuál banco de datos utilizaste?
3.- ¿Cuál es la diferencia entre estas y las del issue 181?

[2020-04-02 22:08] iaga opened #190 "Localizar código para realizar el filtro de wf en tableau"
IF ISNULL([var]) THEN 0
ELSEIF [var]>= 0.5 THEN 5
ELSEIF [var]>= 0.25 THEN 4
ELSEIF [var]>= 0.125 THEN 3
ELSEIF [var] >= 0.065 THEN 2
ELSE 1 END

[2020-04-02 22:09] iaga commented on #190
Me aburrí de tener que buscarlo cada vez, por si les sirve en algún momento @aleestrada y @serranoycandela

[2020-04-02 22:30] iaga commented on #187
@aleestrada listos los mapas para comparar la vulnerabilidad con el inverso del consumo, lo discutimos por zoom

[2020-04-02 23:09] iaga commented on #187
## Método alternativo para validar índices

@aleestrada proporcionó el artículo:

Héctor E. Nájera Catalán & David Gordon (2019) The Importance of Reliability and Construct Validity in Multidimensional Poverty Measurement: An Illustration Using the Multidimensional Poverty Index for Latin America (MPI-LA), The Journal of Development Studies, DOI: 10.1080/00220388.2019.1663176

En él se explica que

[2020-04-03 04:59] serranoycandela commented on #189
Ya está en linea la nueva versión.

Para que los urls de la versión anterior sigan funcionando, no modificamos esa versión sino que agregamos la nueva con un nombre distinto "gfv2". Si les es util pueden usar la nueva versión en:

http://gvf2.apps.lancis.ecologia.unam.mx/setup/

ya viene cargado el gepackage con los mismos nombres con los que entra al modelo, para usarlo solo hay que escoger la ca

[2020-04-08 14:20] iaga commented on #187
@vichdzgeo puedes indicarnos por favor la ruta en la que se encuentra el script de kappa y la bibliografía asociada?

[2020-04-08 14:23] iaga commented on #187
### Errores de omisión
Cuando un caso que corresponde a una determinada categoría no resulta clasificado en dicha categoría (falso negativo)

### Error de comisión
Cuando un caso se clasifica en una categoría distinta a la que le corresponde (falso positivo)

[2020-04-08 19:26] vichdzgeo commented on #187
# Código indice Kappa

Ruta:
CARPETAS_TRABAJO\vhernandez\geo_lancis\codigos\indice_kappa.py

Bibliografía
CARPETAS_TRABAJO\vhernandez\geo_lancis\kappa\kappa.pdf

Erik Næsset (1996) Use of the weighted Kappa coefficient in classification error assessment of thematic maps, International Journal of Geographical Information Systems, 10:5, 591-603, DOI: 10.1080/02693799608902099

tambien recuerdo haber

[2020-04-09 16:44] iaga commented on #187
# Cálculo índice kappa

## Carpeta de trabajo:

\SIG\desarrollo\sig_megadapt\procesamiento\indice_escasez\final\validacion\kappa

## Observaciones:

El código generado por vichdzgeo utiliza un archivo shape que contiene como insumo a los dos atributos a considerar: la salida del modelo y los datos de validación. Los datos actualmente se encuentran en formato CSV. Por lo tanto, es necesario generar

[2020-04-09 17:33] vichdzgeo commented on #187
@iaga podrías describirme el insumo del cual deseas realizar kappa, tal vez pueda ayudarte modificando un poco el código y haciendo iterativo el proceso con los campos. la posibilidad de que al código le diga que reciba un csv en lugar de un shapefile es facil

[2020-04-09 17:41] iaga commented on #187
@vichdzgeo Sí, gracias, creo que es mejor que sea con un csv porque si no tendremos que generar capas cada vez. Tengo csvs separados pero puedo generar uno sólo sin problema. Con que me ayudes a no usar capas con eso es suficiente. ¡Gracias!

Pd. tengo una duda, estaba revisando la fórmula de kappa y dice que el denominador es 1-p_c (en el artículo) y en la página de internet es 1-la suma de pi. E

[2020-04-09 19:00] vichdzgeo commented on #187
@iaga  de acuerdo, trabajo en que reciba un csv, y si, la ecuación justo esta simplificada, ya la he verificado pero no estaría nada mal que sea comprobada, si quieres, podemos hacer un ejercicio con los datos y calculamos capa en excel!

[2020-04-09 20:04] vichdzgeo commented on #187
@iaga el código sigue ejecutandose en qgis, sin embargo puede ya recibir csv, tambien la matriz de error es exportada automaticamente en la ruta donde se encuentra el csv, es nombrada automatizamente de la siguiente manera:

nombre de archivo_"matrix_error_nombre_campo_referencia_"vs"_nombre_campo_clasificación.csv

[2020-04-09 21:43] aleestrada commented on #187
# Cálculo del índice de reliability

El cálculo del índice de reliability se basa en el cálculo de la correlación de Pearson entre dos variables. En este caso, de la correlación entre el valor del índice real y el estimado. Dado que no se conoce el valor del índice real, se recurre a la inferencia estadística para poder obtener una estimación de dicha correlación.

A partir de lo anterior se tiene

[2020-04-24 22:52] iaga commented on #187
# Reunión con Luis para revisar los resultados obtenidos con el índice kappa (23/04/2020)

## Puntos tratados en la reunión:

1.- Verificación en Excel del cálculo del índice. Se comprobó que el script genera la misma kappa que la obtenida en excel.
2.- Revisión de los resultados. Se determinó que existen outliers en los datos. Se realizaron dos nuevos cálculos: uno considerando como máximo en la

[2020-04-27 17:20] aleestrada commented on #187
# Reunión con Luis para revisar los resultados obtenidos con el índice de reliability (23/04/2020)

## Puntos tratados en la reunión:

- Se presentó de forma general en qué consiste el índice y los coeficientes que lo conforman (alpha, omega).
- Se revisaron las fórmulas con las que se calculan dichos coeficientes y se realizaron comentarios a la nomenclatura de dichas fórmulas.
- Se revisaron los

[2020-05-11 22:48] iaga commented on #187
# Corrección del procedimiento y resultado del índice kappa

En la reunión con Luis (ver https://github.com/sostenibilidad-unam/SHV/issues/187#issuecomment-619270839) se estableció el procedimiento para generar el índice. Sin embargo, al realizar la redacción del informe se observó que la comparación entre los datos observados y simulados no era la correcta debido a que los datos se encontraban en

[2021-08-31 21:43] iaga opened #191 "Recopilar resultados de las últimas presentaciones"
Las últimas dos presentaciones del proyecto se realizaron:
- 12 de Marzo 2020
- 29 de Noviembre 2019, https://github.com/sostenibilidad-unam/SHV/issues/162

Los resultados de las últimas corridas se encuentran en la carpeta:

**\SIG\desarrollo\sig_megadapt\procesamiento\stressing**

Dicha carpeta contiene:

![imagen](https://user-images.githubusercontent.com/41757755/131583066-2a82b2c4-99e8-4f32-9

[2021-08-31 22:07] iaga commented on #191
# Bancos de datos con la última corrida
- https://github.com/sostenibilidad-unam/SHV/issues/178#issuecomment-597178767. En estos experimentos se normalizaron las distancias al punto ideal y se corrieron todas las combinaciones de los escenarios de cambio climático y crecimiento urbano contra los escenarios de estrés del modelo (funciones de valor)

## Escenarios de CC y Crecimiento Urbano

Urbano

[2021-08-31 22:27] iaga commented on #191
@vichdzgeo
- [ ] Indicar el issue donde están los últimos cambios que se realizaron a la precipitación y/o describir en qué consistieron los cambios

**Nota:** Los archivos CSV asociados a los escenarios de CC y crecimiento urbano se actualizaron el 11 Mar 2020 en el repositorio
**Revisar:** https://github.com/comses/megadapt/tree/master/src/r/megadaptr/inst/rawdata/climate_landuse_scenarios

[2021-08-31 22:42] iaga commented on #184
@vichdzgeo
Indicar si se generó el mapa y, de ser el caso, la ruta dónde se encuentra ubicado

[2021-09-08 21:23] vichdzgeo commented on #184
@iaga

Ruta de las figuras de crecimiento urbano:
PRESENTACIONES/pr_megadapt/pr_megadapt_29nov2019/insumos
-urban01.png : Escenarios Tendencial y sin restricciones para el año 2020
-urban02.png : Escenarios Tendencial y sin restricciones para el año 2030
-urban03.png : Escenarios Tendencial y sin restricciones para el año 2040
-urban04.png : Escenarios Tendencial y sin restricciones para el año 20

[2021-09-09 18:53] iaga commented on #191
## Actividades:

- [x] Revisar la distancia al punto ideal
- [ ] Corroborar si se concluyó con la verificación de los insumos del modelo: PRECIPITACIÓN
- [x] Revisar presentaciones de Marzo y Noviembre
- [x] Revisar por qué se eliminó encharcamientos
- [x] Revisar presentaciones septiembre
- [ ] Verificar modelo final de agua potable. La matriz que se encuentra corriendo incluye al criterio INUNDA

[2021-09-16 21:21] iaga opened #192 "Realizar nuevas corridas: doble acoplamiento inundaciones"
- Sustituir la matriz de la etapa 2 del doble acoplamiento para drenaje
- Detonar el doble acoplamiento utilizando el valor del índice de inundaciones: si el valor del índice se reduce en un 25% del valor promedio en el time-step anterior, cambiar la supermatriz. Importante: utilizar únicamente las AGEBS que tienen valor distinto de cero
- Hacer que el banco de datos tenga únicamente dos decimales

[2021-11-16 22:08] iaga commented on #122
@vichdzgeo favor de indicar los metadatos de los insumos para generar la capa de presión hidráulica: capa de elevación y distancia. Así como el cálculo de la distancia.

[2021-11-16 23:41] vichdzgeo commented on #122
## Metadatos
[presión hidráulica](http://magrat.mine.nu:8088/geonetwork/srv/spa/catalog.search#/metadata/0687d057-144e-4586-a01d-5ee9c75c6e34)
[Elevación](http://magrat.mine.nu:8088/geonetwork/srv/spa/catalog.search#/metadata/8c749d40-f1f1-453c-98f3-13aedf08bf39)

## Cálculo de la distancia (Por verificar)

se realiza en el código, y se calculan las distancias del centroide del ageb a las siguient